<div style="height:25px;padding-top:15px;">
    <span class="buttons">
        <a href="#" class="negative" style="margin-left: 115px;" onclick="document.forms[0].submit();">
          <%= image_tag "icons/accept.png" %>
          <b><%= t("button.save") %></b>
        </a>
    </span>
    <span class="buttons">
        <a href="javascript:history.back();" class="negative" style="margin-left: 5px;">

          <%= image_tag "icons/cross.png" %>
          <b><%= t("button.cancel") %></b>
        </a>
    </span>
</div>