<script type="text/javascript">
    Cufon.replace('.menu-head-content', {hover:true});
    Cufon.replace('.menu-head-content-status-label', {hover:true});
    Cufon.replace('.tabel-data-thead', {hover:true});
    Cufon.replace('.button-box', {hover:true});
    Cufon.replace('.negative', {hover:true});
    Cufon.replace('label', {hover:true});

</script>

<div class="menu-head-content" style="padding-top: 25px;">
  <center>
    <div class="form">
      <li>
        <ul><a href="#"><strong>บันทึกข้อมูลเสร็จแล้ว</strong></a></ul>

      </li>

    </div>
  </center>
</div>