
<div class="menu-head-content">
<ul>
       	<li><a href="#"><strong>รายการใบสั่งของ</strong></a></li>
           <li>|</li>
           <li><a href="#"><b>แก้ไขใบสั่งของใหม่</b></a></li>
       </ul>    
</div>
<div class="menu-head-content-label">CLIENT ORDER</div>
<%= render 'form' %>


	
   
