<script type="text/javascript">
    //Cufon.replace('#menu li',{hover:true});
    Cufon.replace('.menu-head-content', {hover:true});
    Cufon.replace('.menu-head-content-status-label', {hover:true});
    Cufon.replace('.tabel-data-thead', {hover:true});
    Cufon.replace('.button-box', {hover:true});
    Cufon.replace('.negative', {hover:true});


    //for id
    Cufon.replace('label', {hover:true});


</script>



<%#= form_for(@receive_product,  :url => admin_purchase_receive_product_path(@purchase, @receive_product), :html => { :method => :put }) do |f| %>
<%= form_for(@manufacture, :url => new_order_manufacture_path(@order, @manufacture), :html => {:method => :put, :id => "new_manufacture_form"}, :remote => true) do |f| %>

    <div class="menu-head-content">
      <p><a href="#"><strong>จำนวนที่เสร็จแล้ว</strong></a>
    </div>



     <% @manufacture.errors.full_messages.each do |msg| %>
        <li style="list-style: none;font-size: 12px;padding-left: 7px;color: #990000;font-weight: bold;"><%= msg %></li>
    <% end %>

    <!-- begin form-->
    <div class="form" style="padding-top: 2px;padding-left: 7px;">
      <ul>

        <li>

          <%= f.text_field :quantity, :size => 35 %>
        </li>

        <li>
          <%= render "shared/fancybox_toolbar" %>



        </li>
      </ul>
    </div>


<% end %>


