<div style="height:25px; padding-top:10px; margin-left: 5px;">
          	<span class="buttons">
          		<a href="/products/new/1" id="btn-add" class="negative" style="float:left;">
                    <img src="/images/icons/new.png" alt=""/>
                    <b>เพิ่มประเภทถุง</b>
                  </a>
          	</span>
              <span class="buttons">
          		<a href="/products/new/2" id="btn-add" class="negative" style="float:left;">
                    <img src="/images/icons/new.png" alt=""/>
                    <b>เพิ่มประเภทซอง</b>
                  </a>
          	</span>
              <span class="buttons">
          		<a href="/products/new/3" id="btn-add" class="negative" style="float:left;">
                    <img src="/images/icons/new.png" alt=""/>
                    <b>เพิ่มประเภทกล่อง</b>
                  </a>
          	</span>
              <span class="buttons">
          		<a href="/products/new/4" id="btn-add" class="negative" style="float:left;">
                    <img src="/images/icons/new.png" alt=""/>
                    <b>เพิ่มประเภทงานอื่นๆ</b>
                  </a>
          	</span>


</div>